.vote-container{
  position:relative;
    width: 40%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:auto;
    .label {
        color:whitesmoke;
        text-align: left;
        width:100%;
        margin-bottom:10px;
        font-size: 16px;
      }
    
      .button {
        border-radius: 8px;
        border: 1px solid transparent;
        text-transform: none;;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        margin-top:20px;
        background-color: #1a1a1a;
        color:whitesmoke;
        cursor: pointer;
        width: 100%;
        transition: border-color 0.25s;
        &:hover {
          border-color: #7000c6;
        }
        &:focus,
        &:focus-visible {
          outline: 4px auto -webkit-focus-ring-color;
        }
      }
    
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 100%;
      }
      .input-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        justify-content: flex-start;
        margin-bottom: 20px;
      }
    
      .input{
        width:100%;
        margin:auto;
        border-radius: 8px;
      }
    
      .title{
        
        color:whitesmoke;
        text-align: center;
        width:100%;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: bold;
      }

     .MuiPaginationItem-icon{
        color:whitesmoke !important;
      }

        .modal-title{
          color:whitesmoke;
          text-align: center;
          width:100%;
          margin-bottom: 30px;
          font-size: 30px;
          font-weight: bold;
        }
        .modal-subtitle{
          color:whitesmoke;
          text-align: center;
          width:100%;
          margin-bottom: 10px;
          font-size: 16px;
        }
        .modal{
          color:whitesmoke;
          text-align: center;
    
        }
        
       
      .subtitle{
        
        color:whitesmoke;
        text-align: center;
        width:100%;
        margin-bottom: 30px;
        font-size: 20px;
      }
      
  .list{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:20 auto;
    gap:10px;
    padding:5px 30px;
    .list-item{
        border:1px solid #3d3d3d;
        border-radius: 8px;
        padding: 10px;
        margin:5px;
        
        color:whitesmoke;
        padding-left:20px;
    }
    .list-item:hover{
        background-color: #303030;
        color: whitesmoke;
        cursor: pointer;
    }
    .check{
        color:#7000c6;
    }
    .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 5px;
    }
    
    .MuiListItemText-primary{
        
        color:whitesmoke;
        text-align: left;
        width:100%;
        font-size: 16px;
        .candidate-vote{
          
          color:whitesmoke;
        font-size: 14px;
        padding-left: 20px;
        }
    }
    
    .MuiCheckbox-colorPrimary.Mui-checked{
        color:#7000c6;
    }
    }

   
  
}

@media screen and (max-width: 480px) {
  .vote-container{
    width: 90%;
    .list{
      width:100%;
    }
  }
  
}

